body {
    background-color: beige;
}

nav {
    font-size: 80px;
    text-align: center;
    position: relative;
    top: auto;
    left: 0;
    right: 10px;
    background-color: rgb(142, 96, 36);
    text-decoration: underline;

}

.p1 {
    font-size: 2em;
    margin: auto;
    max-width: 54em;
    border-radius: 50px;
    text-align: center;

}

.Projet>h5 {
    font-size: 80px;
    text-align: center;
    position: relative;
    top: auto;
    left: 0;
    right: 10px;
    background-color: rgb(142, 96, 36);
    text-decoration: underline;
}

.Projet {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: auto;
    left: 0;
    right: 10px;

}


video {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;

}

.fichierReact1 {
    position: relative;
    width: 10em;
    font-size: 40px;
    text-align: center;
    border: solid 2px rgb(207, 40, 68);
    border-radius: 80px;
    margin: auto;
}